.costs-component {
  padding: 0 104px;

  .main-title {
    margin-bottom: 20px;
    color: #13277E;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }

  .room-img-wrapper {
    margin: 32px 0;
    position: relative;

    .room-services {
      position: absolute;
      padding: 20px;
      border-radius: 60px;
      background: rgba(235, 239, 255, 0.65);

      .room-service-title {
        color: #232323;
        font-size: 16px;
        font-weight: 600;
        line-height: 130%;
      }

      .room-service-point-wrapper {
        width: 26.25px;
        height: 26.25px;
        border-radius: 50%;
        border: 1px solid #13277E;

        .room-service-point {
          width: 17.5px;
          height: 17.5px;
          border-radius: 21px;
          background: #13277E;
        }
      }
    }
  }

  .room-item {
    padding-top: 24px;
    width: 205px;
    height: 69px;
    color: #232323;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    cursor: pointer;
  }

  .room-item.active {
    color: #F9F9F9;
    background: #2B8AFC;
    border-radius: 64px;
  }
}
