.main-offer-wrapper {
  position: relative;
  height: calc(100vh - 85px);

  .main-svg svg {
    height: 100%;
    position: absolute;
    left: -668px;
  }

  .vector-wrapper {
    position: absolute;
    top: 117px;
    left: 44px;

    .offer-wrapper {
      position: absolute;
      top: 35px;
      left: 105px;

      .title {
        color: #13277E;
        font-size: 72px;
        letter-spacing: 0.41px;
      }

      .main-title {
        font-weight: 700;
        line-height: 86.4px;
      }

      .sub-title {
        font-weight: 400;
        line-height: 72px;
      }

      .advantages-block {
        font-size: 16px;
        letter-spacing: -0.066px;
        line-height: 20.8px;

        .advantages-title {
          color: #13277E;
          font-weight: 600;
        }

        .advantages-text {
          color: #232323;
          font-weight: 400;
        }
      }

      .main-button {
        min-width: 173px;
        padding: 24px 0;
        text-align: center;
        border-radius: 40px;
        background: #2B8AFC;
        color: #F9F9F9;
      }

      .sub-button {
        min-width: 100px;
        padding: 24px 0;
        text-align: center;
        border-radius: 40px;
        background: #F9F9F9;
        color: #13277E;
      }
    }
  }

  .people-wrapper-man {
    position: absolute;
    height: 82%;
    width: 440px;
    top: 16%;
    left: 35%;
    z-index: 3;
  }

  .people-wrapper-woman {
    position: absolute;
    height: 68%;
    width: 440px;
    top: 23%;
    left: 58%;
    z-index: 2;
  }
}

@media screen and (max-width: 1025px) {
  .main-offer-wrapper {
    .people-wrapper-man, .people-wrapper-woman {
      display: none;
    }
  }
}
