.order-page {
  padding: 60px 104px 0 104px;
  background: #C6D3FF;

  .title {
    margin-bottom: 20px;
    color: #13277E;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.41px;
  }

  .switcher-wrapper {
    margin-bottom: 32px;
  }

  .content-wrapper {
    margin-bottom: 40px;
  }
}